<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <title>Редагування - Music AutoGura</title>
    <link rel="stylesheet" href="{{url_for('static', path='/audio-server.css')}}">
</head>
<body>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <br><br>
      <div class="main-adding-div">
        <h2 class="h-txt">Редагувати пісню</h2>
        <form method="post" action="/save_change/{{ song_correct.id }}">
          <br>
          <input placeholder="Нова назва" name="name_new" id="name_new" class="input-adding" value="{{ song_correct.name }}">
          <br>
          <input placeholder="Новий автор" name="author_new" id="author_new" class="input-adding" value="{{ song_correct.author }}">
          <br>
          <input placeholder="Новий рік релізу" name="year_new" id="year_new" class="input-adding" type="number" value="{{ song_correct.year }}">
          <br>
          <input placeholder="Новий жанр" name="genre_new" id="genre_new" class="input-adding" value="{{ song_correct.genre }}">
          <br>
          <button type="submit" class="button-add">Зберегти зміни</button>
          <br>
        </form>
        <div class="text-center">
            <a href="{{ url_for('p_song', song_id=song_correct.id) }}"><button class="button-back">Скасувати</button></a>
        </div>
        <br>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</body>
</html>